h1 {
    text-align: center;
}

#profileImage {
    height: 120px;
    width: 120px;
    border: solid 5px;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
}

textarea {
    width: 100%;
    height: 200px;
    padding-left: 5px;
    font-size: 1.2em;
}

#createbtn {
    padding: 7px;
    font-size: 0.9em;
}

#createNote {
    width: 50%;
    margin-left: 7px;
}

#logout, #deleteAcc {
    display: block;
    text-align: right;
    margin-top: 0;
    margin-right: 5px;
}

#deleteAcc {
    color: red;
}

body {
    background-image: url("/pictures/bg.png");
    background-size: contain;
}

#noteHere {
    margin-left: 5px;
    border-bottom: solid 3px;
    margin-bottom: 10px;
    background-color: yellow;
}

textarea{
    background-color: rgba(244, 236, 144, 0.821);
}

#upload {
    display: block;
    text-align: center;
}

.edu-au-vic-wa-nt-hand {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

.btn {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
}

.del, .edit {
    width: 25px;
    height: 25px;
}

.edit {
    margin-left: 35px;
}